<main class="principal">
  <div class="container conteudo">
    <div class="conteudo2">
      <form class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
          <input [(ngModel)]="searchTerm" (ngModelChange)="filterPokemons()" name="searchTerm" class="form-control mb-2 mb-sm-0 mr-sm-2" placeholder="Nome do Pokemon" />
        </div>
        <div class="col-12">
          <label class="visually-hidden" for="inlineFormSelectPref">Tipo</label>
          <select [(ngModel)]="selectedOption" (ngModelChange)="filterPokemons()" name="selectedOption" class="form-select" id="inlineFormSelectPref">
            <option selected>ALL...</option>
            <option value="bug">bug</option>
            <option value="dragon">dragon</option>
            <option value="electric">electric</option>
            <option value="fairy">fairy</option>
            <option value="fighting">fighting</option>
            <option value="fire">fire</option>
            <option value="flying">flying</option>
            <option value="ghost">ghost</option>
            <option value="grass">grass</option>
            <option value="ground">ground</option>
            <option value="ice">ice</option>
            <option value="normal">normal</option>
            <option value="poison">poison</option>
            <option value="psychic">psychic</option>
            <option value="rock">rock</option>
            <option value="steel">steel</option>
            <option value="water">water</option>
          </select>
        </div>
      </form>
    </div>
    <div class="conteudo2">
      <ng-container *ngIf="pokemons && pokemons.length; else loaderBlock">
        <app-pokelist [pokemons]="pokemons | paginate: { itemsPerPage: 20, currentPage: p }"></app-pokelist>
      </ng-container>
      <ng-template #loaderBlock>
        <app-loader></app-loader>
      </ng-template>
    </div>
    <div class="conteudo3">
      <div class="pagination">       
        <pagination-controls class="my-pagination" (pageChange)="p = $event">
        </pagination-controls>
      </div>
    </div>
  </div>
</main>


