<!-- Seção de Produtos -->
<div class="row">
  <div class="col">
    <div class="text-center conteudo2">
    <div class="card-body row g-3">
      <div *ngFor="let product of produtos" class="col-12 col-sm-4 col-md-3 col-lg-3">
        <a class="link" [attr.data-bs-target]="'#exampleModal-' + product.id" data-bs-toggle="modal">
          <div class="card mb-3 hover">
            <div class="image-container">
              <img [src]="product.image" decoding="async" class="card-img" alt="Imagem do Produto" />
            </div>
            <h5 class="th4">{{ (product.title.length > 20) ? (product.title | slice:0:20)+'...' : (product.title) }}</h5>
            <div class="card-body text-center">
              <div>
                <!-- <p>Nota: {{ product.avaliacao }}</p> -->
                <h6 class="modal-title fs-5" id="exampleModalLabel">Categoria:</h6>
                <p class="fs-6">{{ product.category }}</p>
                <span>
                  R$ {{ product.price.toFixed(2) }}
                </span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- Modais -->
<div *ngFor="let product of produtos" class="modal fade" [id]="'exampleModal-' + product.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ product.title }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="image-container">
          <img [src]="product.image" decoding="async" class="card-img" alt="Imagem do Produto" />
        </div>

      </div>
      <div class="modal-footer">
      
      </div>
    </div>
  </div>
</div>
