@import "primeicons/primeicons.css";
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.min.css';


.acmodal {
  text-decoration: none;
  cursor: pointer;
}
  
.hover:hover {
  box-shadow: 3px 6px 6px 3px #ddd;
  border: 2px solid #dee2e6;
}

